.sidebar {
    grid-area: sidebar;

    list-style-type: none;

    li {
        display: flex;
        align-items: center;
        margin: 10px 0px;
        padding: 10px 20px;
        user-select: none;

        span:first-of-type {
            min-width: 40px;
            display: inline-flex;
            align-items: center;
        }

        span:nth-of-type(3) {
            margin-left: auto;
        }
    }

    .sidebar_submenu {
        background-color: #e3e3e3;
        padding: 10px 0px;
    }

}