.mainheader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    div {
        display: inline-block;
    }

    button {
        display: inline-flex;
        align-items: center;
        padding: 10px;
        font-size: 18px;
        column-gap: 10px;
        margin-left: 15px;
    }

    label {
        padding: 15px;
        border-radius: 5px;
        font-size: 18px;
        display: inline-flex;
        align-items: center;
        column-gap: 10px;

        &:first-of-type {
            border: 2px solid teal
        }

        &:last-of-type {
            margin-left: 15px;
            border: 2px solid teal;
            background-color: teal;
            color: white;
        }
    }


    .collection_batch_extra {
        position: absolute;
        z-index: 1300;
        top: 0;
        left: 0;
        width: 100vw;
        display: flex;
        flex-direction: column;

        .collection_batch_upload_page {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            border-radius: 0 0 10px 10px;
            width: 80vw;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            border-right: 1px solid #dddddd;
            border-bottom: 1px solid #dddddd;
            border-left: 1px solid #dddddd;
            align-items: center;
            justify-content: space-between;
            background-color: White;

            svg {
                height: 200px;
                width: auto;
                opacity: .25;
            }



            .collection_batch_upload_page_header {
                width: 100%;
                height: 70px;
                display: flex;
                align-items: center;
                padding-left: 25px;
                background-color: #f4f6f8;
                border-bottom: 1px solid #dddddd;
                font-size: 16px;
                font-weight: bold;
            }

            .collection_batch_upload_page_main {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 50px 0;

                div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 50px;

                    hr {
                        width: 100px;
                        margin: 0 5px;
                        border-color: #dddddd;
                    }

                    button {
                        font-size: 18px;
                        background-color: #f1f1f1;
                        border: 2px solid #dddddd;
                        padding: 2px;
                        border-radius: 10px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 90px;
                        height: 90px;
                        margin: 0;
                        opacity: .5;
                        color: black;

                        span {
                            font-weight: bold;
                            display: block;
                            font-size: 30px;
                            margin-bottom: 5px;
                        }

                        p {
                            font-size: 12px;
                        }
                    }

                    .collection_batch_upload_page_main_current {
                        color: #0a7aff;
                        background-color: white;
                        border-color: #0a7aff
                    }
                }

                input {
                    display: none;
                }

                label {
                    font-size: 16px;
                    background: #009ec0;
                    padding: 15px;
                    border-radius: 4px;
                    cursor: pointer;
                    border: none;
                    color: white;
                    display: flex;
                    justify-content: center;
                }

                .collection_batch_upload_page_main_fields {
                    display: grid;
                    grid-auto-rows: 45px;
                    margin: 0;

                    span {
                        width: 330px;
                    }

                    p {
                        display: flex;
                        align-items: center;
                        background-color: white;
                        width: 300px;
                        border: 2px solid rgba(gray, .5);
                        height: 35px;
                        border-radius: 5px;
                        padding: 0 10px;
                    }

                    svg {
                        width: 30px;
                        height: 20px;
                        opacity: 1;
                    }

                    select {
                        background-color: white;
                        width: 300px;
                        border: 2px solid rgba(gray, .5);
                        height: 35px;
                        border-radius: 5px;
                        padding: 0 10px;
                    }

                    input {
                        display: inline;
                        margin: 0 15px;
                    }

                    label {
                        background: transparent;
                        border-radius: 0;
                        cursor: default;
                        width: auto;
                        height: auto;
                        border: none;
                        color: gray;
                        display: inline;
                        padding: 0;
                        margin: 0;
                        font-size: 16px;
                        font-style: italic;
                    }


                }
            }

            .collection_batch_upload_page_footer {
                width: 100%;
                border-top: 1px solid #dddddd;
                padding: 15px 30px;

                button {
                    float: right;
                    padding: 10px 30px;
                    cursor: pointer;
                    background-color: #f4f6f8;
                    border: 1px solid #dddddd;
                    border-radius: 4px;
                }

                .collection_batch_upload_page_footer_import {
                    background-color: #009ec0;
                    border: 1px solid #009ec0;
                    color: #ffffff;
                }
            }
        }

        .collection_batch_filter_page {
            width: 450px;
            margin: 0 auto;
            display: grid;
            box-shadow: 0 0 22px 10px rgba(0, 0, 0, 0.12);
            background-color: #fff;

            border-radius: 0 0 8px 8px;

            h6 {
                font-size: 16px;
                font-weight: 800;
                background-color: #f4f6f8;
                height: 70px;
                padding: 24px;
            }

            label {
                background-color: transparent;
                border: none;
                color: black;
                font-size: 14px;
                padding: 0;
                margin: 0;
            }

            .collection_batch_filter_page_search {
                padding: 24px;
                background-color: #fff;

                input {
                    width: 100%;
                    border-radius: 24px;
                    box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.12);
                    border: solid 1px #ddd;
                    padding: 14px;
                }
            }

            .collection_batch_filter_number {
                padding: 14px 24px;
                background-color: #f4f6f8;
                display: inline-flex;
                flex-direction: column;
                align-items: center;
                row-gap: 10px;

                div {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                }

                input,
                select {
                    width: 205px;
                    height: 40px;
                    border-radius: 4px;
                    border: solid 1px #ddd;
                    background-color: #fff;
                    padding: 0 14px;
                }
            }

            .collection_batch_filter_loan {
                display: flex;
                flex-direction: column;
                row-gap: 14px;
                background-color: #fff;
                padding: 14px 24px;

                div {
                    display: flex;
                    justify-content: space-between;
                }

                input {
                    width: 123px;
                    padding: 10px 5px;
                    border-radius: 4px;
                    border: none;
                    border: 1px solid #ddd;
                }

                select {
                    width: 205px;
                    height: 40px;
                    border-radius: 4px;
                    border: solid 1px #ddd;
                    background-color: #fff;
                    padding: 0 14px;
                }

            }

            .collection_batch_filter_radio {
                padding: 24px;
                display: flex;
                justify-content: space-evenly;

                input {
                    margin-right: 10px;
                }
            }

            .collection_batch_filter_date {
                background-color: #f4f6f8;
                display: flex;
                padding: 24px;
                flex-direction: column;

                row-gap: 14px;

                div {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                }

                input {
                    padding: 10px 5px;
                    border-radius: 4px;
                    border: none;
                    margin: 0 5px;
                    border: 1px solid #ddd;
                }
            }

            .collection_batch_filter_date_input {
                width: 108px !important;
            }

            .collection_batch_filter_footer {
                padding: 14px 24px;
                display: flex;
                flex-direction: row-reverse;
                column-gap: 14px;

                button {
                    padding: 10px 30px;
                    border-radius: 4px;
                    font-size: 14px;
                    margin: 0;
                }

                button:first-of-type {
                    background-color: #f1f1f1;
                    border: solid 1px #ddd;
                }

                button:last-of-type {
                    background-color: #009ec0;
                    border: solid 1px #009ec0;
                    color: white;
                }
            }

        }
    }
}

.collection_batch {
    display: grid;
    grid-template-columns: minmax(200px, 18vw) auto 310px;

    border-top: 1.5px solid rgba(black, .25);
    padding: 50px 0px;

    input {
        display: inline-block;
        margin-right: 24px;
    }




    .collection_batch_1 {
        display: flex;
        flex-flow: row;
        align-items: flex-start;

        input {
            margin-right: 15px;
            margin-top: 5px;
        }

        p {
            line-height: 25px;
        }



    }

    .collection_batch_2 {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 2vw;
        border-left: 1.5px dashed rgba(black, .25);
        border-right: 1.5px dashed rgba(black, .25);

        .collection_batch_2_1 {
            display: flex;
            flex-direction: column;
            row-gap: 54px;
            margin-left: 2vw;

            select {
                border: none;
                background-color: transparent;
                font-weight: 600;
                color: #505050
            }
        }

        .collection_batch_2_2 {
            width: 200px;
            text-align: center;
        }

        .collection_batch_2_3 {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            grid-template-areas: 'connected ptp''broken paid';
            row-gap: 50px;
            column-gap: 2vw;
            margin-right: 2vw;

            div {
                opacity: .9;
            }

            .collection_batch_2_3_common {
                display: flex;
                align-items: flex-start;

                div {
                    display: inline;
                }

                .coloredCirle {
                    margin-top: 10px;
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    margin-right: 10px;
                }


            }

            .collection_batch_2_3_connected {
                grid-area: connected;

                .coloredCirle {
                    background-color: #359bba;
                }
            }

            .collection_batch_2_3_ptp {
                .coloredCirle {
                    background-color: #4fbdce;

                }

                grid-area: ptp;
            }

            .collection_batch_2_3_broken {
                .coloredCirle {
                    background-color: #43b3a9;
                }

                grid-area: broken;
            }

            .collection_batch_2_3_paid {
                .coloredCirle {

                    background-color: #9eeddc;
                }

                grid-area: paid;
            }

        }
    }

    .collection_batch_3 {
        display: flex;
        flex-direction: column;
        justify-content: start;


        label {
            display: block;
            margin-bottom: 10px;
        }

        select {
            font-weight: 300;
            padding: 10px;
        }

    }
}