.mainheader {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainheader svg {
  height: 20px;
  width: auto;
}

.mainheader .mainheader_leftbtns {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-column-gap: 16px;
          column-gap: 16px;
  margin: 0 18px;
}

.mainheader .mainheader_leftbtns button {
  background-color: #f4f6f8;
  border: 1px solid #dddddd;
  padding: 12px;
  border-radius: 4px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
          column-gap: 12px;
  font-size: 15px;
}

.mainheader .mainheader_rightbtns {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-column-gap: 16px;
          column-gap: 16px;
  margin-left: auto;
  margin-right: 0;
}

.mainheader .mainheader_rightbtns .mainheader_rightbtns_black {
  background-color: #009ec0;
  border: 2px solid #009ec0;
  padding: 12px;
  border-radius: 4px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
          column-gap: 12px;
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
}

.mainheader .mainheader_rightbtns .mainheader_rightbtns_black option {
  background-color: #fff;
  color: black;
}

.mainheader .mainheader_rightbtns .mainheader_rightbtns_white {
  background-color: #ffffff;
  border: 2px solid #009ec0;
  padding: 12px;
  border-radius: 4px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
          column-gap: 12px;
  font-size: 15px;
  font-weight: 700;
  color: #000000;
}
/*# sourceMappingURL=MainHeader.css.map */