.collection_account {
    display: grid;
    grid-template-columns: minmax(200px, 21vw) auto 310px;
    padding: 40px 0;
    border-top: 1px solid #dddddd;

    hr {
        width: 100%;
        opacity: .25;
        margin: 15px 0;
    }

    p {
        padding-bottom: 7.5px;
    }


    .collection_account_1 {

        display: flex;
        flex-flow: row;
        align-items: flex-start;

        input {
            margin-right: 15px;
            margin-top: 5px;
        }
    }



    .collection_account_2 {

        margin: 0 auto;

        .collection_account_2_table {
            display: grid;
            width: 310px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto auto;
            height: auto;
            grid-template-areas: 'a a''b1 b2''c1 c2''d1 d2';
            border-radius: 10px 10px 2px 2px;
            border: 1px solid #dddddd;
            background-color: #f5f5f5;

            p {
                padding-bottom: 0px;

                &:first-of-type {
                    padding-bottom: 5px;
                }
            }


            .collection_account_2_table_common {
                display: grid;
                place-items: center;
                border-top: 1px solid #dddddd;
                padding: 15px;
                background-color: #fff;
            }


            .collection_account_2_table_a {
                grid-area: a;
                padding: 5px 15px;
            }

            .collection_account_2_table_b1 {
                grid-area: b1;
                border-right: 1px solid #dddddd;
            }

            .collection_account_2_table_b2 {
                grid-area: b2;
            }

            .collection_account_2_table_c1 {
                border-right: 1px solid #dddddd;
                grid-area: c1;
            }

            .collection_account_2_table_c2 {
                grid-area: c2;
            }

            .collection_account_2_table_d1 {
                border-right: 1px solid #dddddd;
                grid-area: d1;
            }

            .collection_account_2_table_d2 {
                grid-area: d2;
            }
        }


    }

    .collection_account_3 {

        label {
            display: block;
            margin-bottom: 10px;
        }

        select {
            font-weight: 300;
            padding: 10px;
            width: 100%;
        }

        .collection_account_3_icon {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            margin: 0px 10px;
            font-size: 12px;
            row-gap: 5px;
        }
    }
}