.collection_account {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(200px, 21vw) auto 310px;
      grid-template-columns: minmax(200px, 21vw) auto 310px;
  padding: 40px 0;
  border-top: 1px solid #dddddd;
}

.collection_account hr {
  width: 100%;
  opacity: .25;
  margin: 15px 0;
}

.collection_account p {
  padding-bottom: 7.5px;
}

.collection_account .collection_account_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.collection_account .collection_account_1 input {
  margin-right: 15px;
  margin-top: 5px;
}

.collection_account .collection_account_2 {
  margin: 0 auto;
}

.collection_account .collection_account_2 .collection_account_2_table {
  display: -ms-grid;
  display: grid;
  width: 310px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
  height: auto;
      grid-template-areas: "a a" "b1 b2" "c1 c2" "d1 d2";
  border-radius: 10px 10px 2px 2px;
  border: 1px solid #dddddd;
  background-color: #f5f5f5;
}

.collection_account .collection_account_2 .collection_account_2_table p {
  padding-bottom: 0px;
}

.collection_account .collection_account_2 .collection_account_2_table p:first-of-type {
  padding-bottom: 5px;
}

.collection_account .collection_account_2 .collection_account_2_table .collection_account_2_table_common {
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-top: 1px solid #dddddd;
  padding: 15px;
  background-color: #fff;
}

.collection_account .collection_account_2 .collection_account_2_table .collection_account_2_table_a {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: a;
  padding: 5px 15px;
}

.collection_account .collection_account_2 .collection_account_2_table .collection_account_2_table_b1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: b1;
  border-right: 1px solid #dddddd;
}

.collection_account .collection_account_2 .collection_account_2_table .collection_account_2_table_b2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: b2;
}

.collection_account .collection_account_2 .collection_account_2_table .collection_account_2_table_c1 {
  border-right: 1px solid #dddddd;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: c1;
}

.collection_account .collection_account_2 .collection_account_2_table .collection_account_2_table_c2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: c2;
}

.collection_account .collection_account_2 .collection_account_2_table .collection_account_2_table_d1 {
  border-right: 1px solid #dddddd;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: d1;
}

.collection_account .collection_account_2 .collection_account_2_table .collection_account_2_table_d2 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: d2;
}

.collection_account .collection_account_3 label {
  display: block;
  margin-bottom: 10px;
}

.collection_account .collection_account_3 select {
  font-weight: 300;
  padding: 10px;
  width: 100%;
}

.collection_account .collection_account_3 .collection_account_3_icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 10px;
  font-size: 12px;
  row-gap: 5px;
}
/*# sourceMappingURL=CollectionAccounts.css.map */