.App {
  display: -ms-grid;
  display: grid;
  width: 100vw;
  height: 100vh;
  -ms-grid-columns: 200px auto;
      grid-template-columns: 200px auto;
  -ms-grid-rows: 67px auto;
      grid-template-rows: 67px auto;
      grid-template-areas: "header header" "sidebar main";
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
  background-color: white;
  border-radius: 15px 0 0 0;
  padding: 24px;
}
/*# sourceMappingURL=App.css.map */