.App {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 200px auto;
    grid-template-rows: 67px auto;
    grid-template-areas: 'header header''sidebar main';

}

main {
    grid-area: main;
    background-color: white;
    border-radius: 15px 0 0 0;
    padding: 24px;
}